body , html{
    background-color: #d1d1d1;
}

h1 {
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}
.navColor{
    background-color: #000000;
    border-color: #000000; 
}

.fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: #00a087;
}

.box{
    background-color: white;
    width: 300px;
    border: 25px solid yellow;
    padding: 25px;
    margin: 25px;
}

.container{
    position: relative;
}
.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
  max-width: 500px;
}
.textbox{
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);

}
.title{
  font-size: 28px
}