<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/lib/w3.css">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

<style>
  body, html {
    height: 100%;
    margin: 0;
    background-color: #d1d1d1;
}
</style>
  </head>
<body>
<nav class="navbar navbar-inverse fixed">
  <div class="container-fluid navColor" style="padding-left: 10px;">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                      
      </button>
      <a class="navbar-brand" style="padding-top: 03px;" href="{{ url_for('home') }}"><img src="https://pbs.twimg.com/profile_images/768085749845622784/CA9YOdSy.jpg" height="42" width="42"> </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li><a href="{{ url_for('games') }}">Games</a></li>
      <li><a href="{{ url_for('forums') }}">Forums</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">More<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="active" href="{{ url_for('aboutUs') }}">About Us</a></li>
          <li><a href="{{ url_for('contactUs') }}">Contact Us</a></li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
    {% if user != null %}
      <li><a href="{{ url_for('profile' , user_id = user.id) }}"><span class="glyphicon glyphicon-user"></span> {{user.firstName}}</a></li>
      <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>

    {% else %}
      <li><a href="{{ url_for('signup') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    {% endif %}
    </ul>
  </div>
  </div>
</nav>
<div align="center">
<h1>About Us</h1>
<br>
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<p>We're an indie game studio that's made of a couple people at the moment , a programmer/developer , a 3D artist , and a music composer.</p>
<p>We try to focus on "worth-doing" games to develop , we try to find a certain problem and find a solution for it by developing a game!</p>
<br>
<p>Since August 2016 , We started working on an environmental survival game called "Territory".
It is the first game to be developed by us under the name "Low Eyed Studios" , we had a name before called "Indie Master Productions" and released many games which were developed for learning purposes.
We took this project very seriously and now it's running a crowdfunding campaign on PixelFunder.com!</p>
</p>
<br>
<div align="center">
 <img src="https://scontent.cdninstagram.com/t51.2885-15/e35/16230481_1855652034713681_6137312698943143936_n.jpg?ig_cache_key=MTQ0MjEwMTcyNDkwNzUxNzYxNg%3D%3D.2" class="img-circle"  width="200" height="200">
<p><i><b>Loai Qubti</b></i><p>
<div>
<p style="font-size:14px;margin-top: -15px;"><i>CEO & Founder</i><p></div>
<p style="font-size:16px;width:300px">Unity game developer and main programmer.<br>Programming since 2013. Started learning online, couple years later started learning in school, and also in a program called <a href="http://meet.mit.edu/" target="_blank">MEET</a>.<br>
Use C# mostly, a fast learner, and a fast dev.<br>
Like to create survival games most of the times, but mobile car games attract me for some reason too!<p>
</div>
</div>
</div>
</body>
</html>