<html>
<head>
  <link rel="stylesheet" href="static/style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/lib/w3.css"></head>
<nav class="navbar navbar-inverse fixed">
  <div class="container-fluid navColor">
    <div class="navbar-header">
      <a class="navbar-brand" style="padding-top: 03px;" href="{{ url_for('home') }}"><img src="https://pbs.twimg.com/profile_images/768085749845622784/CA9YOdSy.jpg" height="42" width="42" style="margin-left: -5px;"> </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{ url_for('games') }}">Games</a></li>
      <li><a href="{{ url_for('forums') }}">Forums</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">More<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for('aboutUs') }}">About Us</a></li>
          <li><a href="{{ url_for('contactUs') }}">Contact Us</a></li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ url_for('profile' , user_id = user.id) }}"><span class="glyphicon glyphicon-user"></span> {{user.firstName}}</a></li>
      <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
    </ul>
  </div>
</nav>

<h1> Edit Profile </h1>

<div class = 'flash'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
<br>
<div align="center">
<form action="{{ url_for('editProfile') }}" method = 'post'>
  First Name:
  <input type="text" name="firstName" value="{{ user.firstName }}" onfocus="this.value = this.value=='{{ user.firstName }}'?'':this.value;" onblur="this.value = this.value==''?'{{ user.firstName }}':this.value;"> <br>
  Last Name:
  <input type="text" name="lastName" value="{{ user.lastName }}" onfocus="this.value = this.value=='{{ user.lastName }}'?'':this.value;" onblur="this.value = this.value==''?'{{ user.lastName }}':this.value;"><br><br>
  Username:
  <input type="text" name="userName" value="{{ user.userName }}" onfocus="this.value = this.value=='{{ user.userName }}'?'':this.value;" onblur="this.value = this.value==''?'{{ user.userName }}':this.value;" disabled><br><br>
  Email Address:<br>
  <input type="text" name="email" value="{{ user.email }}" onfocus="this.value = this.value=='{{ user.email }}'?'':this.value;" onblur="this.value = this.value==''?'{{ user.email }}':this.value;"><br>
  Password:<br>
  <input type="password" name="password" value="{{ user.password }}" onfocus="this.value = this.value=='{{ user.password }}'?'':this.value;" onblur="this.value = this.value==''?'{{ user.password }}':this.value;"><br><br>
  Profile Picture:<br>
  <input type="text" name="photo" value="{{ user.photo }}" onfocus="this.value = this.value=='{{ user.photo }}'?'':this.value;" onblur="this.value = this.value==''?'{{ user.photo }}':this.value;"><br>
  Add DOB here<br>
  Description:<br>
  <input type="text" name="description" value="{{ user.description }}" onfocus="this.value = this.value=='{{ user.description }}'?'':this.value;" onblur="this.value = this.value==''?'{{ user.description }}':this.value;"><br>
  
   <input type="submit" value="Apply Changes">
</form>
</div>
</html>