<!DOCTYPE html>
<html>
<head>
	<title>L E S</title>
	<link rel="stylesheet" href="static/style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url('https://fb-s-a-a.akamaihd.net/h-ak-xap1/v/t1.0-9/15203209_749214391896322_5444907026079728406_n.png?oh=13c68d58d123f27e9f11f1f8e826af17&oe=593C0FE6&__gda__=1497690553_0295c0426707f537e1970dc0cf1159ba');

    /* Full height */
    height: 50%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
</head>
<body>
<nav class="navbar navbar-inverse fixed">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand active" style="padding-top: 03px;" href="{{ url_for('home') }}"><img src="https://pbs.twimg.com/profile_images/768085749845622784/CA9YOdSy.jpg" height="42" width="42"> </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{ url_for('games') }}">Games</a></li>
      <li><a href="{{ url_for('forums') }}">Forums</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">More<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for('aboutUs') }}">About Us</a></li>
          <li><a href="{{ url_for('contactUs') }}">Contact Us</a></li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
    {% if user != null %}
      <li><a href="{{ url_for('profile' , user_id = user.id) }}"><span class="glyphicon glyphicon-user"></span> {{user.firstName}}</a></li>
      <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>

    {% else %}
      <li><a href="{{ url_for('signup') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    {% endif %}
    </ul>
  </div>
</nav>

<div class="bg">
</div>
<br><br>
<div style="text-align:center"s>
  <h4>Don't miss any updates and</h4>
  <h4><b>Subscribe to our newsletter!</b></h4>
  <form action="{{ url_for('home') }}" method="post">
  <input type="text" name="email" placeholder="Email Address">
  <input type="submit" value="Subscribe">
  </form>
</div>

</body>
</html>