<!DOCTYPE html>
<html>
<head>
	<title>L E S</title>
	<link rel="stylesheet" href="static/style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/lib/w3.css">


    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <style>
.mySlides {display:none;}

body, html {
    height: 100%;
    margin: 0;
    background-color: #d1d1d1;
}

.bg {
    /* The image used */
    background-image: url('https://photos-2.dropbox.com/t/2/AADqW-pKfXeqUf8fX6n2GvrTCknZRys2GoETLO0Be9ptOA/12/630537138/jpeg/32x32/1/_/1/2/Gif2.gif/EIXLwI4FGKUaIAcoBw/myYaUgo3kRhqAmBUCaQZT1k1IeVCMoEp265qlZhA8rA%2CfGMlvhF1KZrYf1Uf9-fY4xLYsKz06rTEeEvPYstFxYQ%2CYoJhvQXgUmp2c9frehteCBx3u16Jz_HhhDMARSOFi_k%2CuP3_IuHg65uEK7ieIGS2Pmfmt72Z3avg6ySdRW6QWTY?size=1280x960&size_mode=3');

    /* Full height */
    height: 70%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
</head>
<body>
<nav class="navbar navbar-inverse fixed">
  <div class="container-fluid navColor" style="padding-left: 10px;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                      
        </button>
      <a class="navbar-brand active" style="padding-top: 03px;" href="{{ url_for('home') }}"><img src="https://pbs.twimg.com/profile_images/768085749845622784/CA9YOdSy.jpg" height="42" width="42"> </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
     <li><a href="{{ url_for('games') }}">Games</a></li>
      <li><a href="{{ url_for('forums') }}">Forums</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">More<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for('aboutUs') }}">About Us</a></li>
          <li><a href="{{ url_for('contactUs') }}">Contact Us</a></li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
    {% if user != null %}
      <li><a href="{{ url_for('profile' , user_id = user.id) }}"><span class="glyphicon glyphicon-user"></span> {{user.firstName}}</a></li>
      <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>

    {% else %}
      <li><a href="{{ url_for('signup') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    {% endif %}
    </ul>
  </div>
  </div>
</nav>

<!-- Slideshow -->
<div class="w3-content w3-section image-container" style="max-width:1920;margin-top:-20px;height:70%">
  <img class="mySlides" src="https://pbs.twimg.com/media/C3vXpMXWcAAeGXB.jpg:large" style="width:100%;height:100%;">
 <img class="mySlides" src="https://pbs.twimg.com/media/CzJSMMaUkAAyKX-.jpg:large" style="width:100%;height:100%">
  <img class="mySlides" src="https://pbs.twimg.com/media/Cq3xZqOWYAA7G6n.jpg" style="width:100%;height:100%">
    <img class="mySlides" src="https://pbs.twimg.com/media/CsD5LI8W8AAMdR9.jpg" style="width:100%;height:100%">
  <img class="mySlides" src="https://pbs.twimg.com/media/Czl-NNdUAAA3bdE.jpg" style="width:100%;height:100%">
  <img class="mySlides" src="https://pbs.twimg.com/media/Crm33k3XYAAAgu_.jpg" style="width:100%;height:100%">
  <img class="mySlides" src="https://pbs.twimg.com/media/Cqjn85QVMAAtGWy.jpg:large" style="width:100%;height:100%">

</div>
<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>
<br>
  <!-- Main Content -->
    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class='section-heading'>
          <h1>Our Upcoming Game - <i>Territory</i></h1>
          <hr class="small">              
        </div>
        </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" align="center">
                <p style="text-align:center;"><i><b>“Territory” indirectly teaches it’s players how important trees are , in the game they’ll start having no food or wood to build , therefore in real life they’ll start caring more about trees and actually realize what happens when only 1 tree gets cut down.</b></i></p>
                <br>
                <a href="{{ url_for('viewGame' , game_id = 1) }}"><button>Read more about <i>Territory</i></button></a>
                          <hr class="small">              
            </div>
        </div>
    </div>

<br><br>
<div style="text-align:center"s>
  <h4>Don't miss any updates and</h4>
  <h4><b>Subscribe to our newsletter!</b></h4>
  <form action="{{ url_for('home') }}" method="post">
  <input type="text" name="email" placeholder="Email Address">
  <input type="submit" value="Subscribe">
  </form>
</div>
<br>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="http://twitter.com/LowEyedStudios" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"><img src="http://goinkscape.com/wp-content/uploads/2015/07/twitter-logo-final.png" width="55" height="55"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="http://Facebook.com/Low.Eyed.Studios" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"><img src="https://storage.googleapis.com/instapage-user-media/f793ec6f/3141783-0-f-de-facebook.png" width="61" height="61"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p align="center" style="font-size:14px" class="copyright text-muted">Copyright &copy; Low Eyed Studios 2017</p>
                </div>
            </div>
        </div>
    </footer>

        <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>
</html>