<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/lib/w3.css">
   <style>
    body, html {
    height: 100%;
    margin: 0;
    background-color: #d1d1d1;
}
  </style>
</head>
<body>
<nav class="navbar navbar-inverse fixed">
  <div class="container-fluid navColor" style="background-color: black;padding-left: 10px;">
    <div class="navbar-header">
      <a class="navbar-brand" style="padding-top: 03px;" href="{{ url_for('home') }}"><img src="https://pbs.twimg.com/profile_images/768085749845622784/CA9YOdSy.jpg" height="42" width="42"> </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{ url_for('games') }}">Games</a></li>
      <li><a href="{{ url_for('forums') }}">Forums</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">More<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for('aboutUs') }}">About Us</a></li>
          <li><a href="{{ url_for('contactUs') }}">Contact Us</a></li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
    {% if user != null %}
      <li class="active"><a href="{{ url_for('profile' , user_id = user.id) }}"><span class="glyphicon glyphicon-user"></span> {{user.firstName}}</a></li>
      <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>

    {% else %}
      <li><a href="{{ url_for('signup') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    {% endif %}
    </ul>
  </div>
</nav>
<div align="center">
<h1>{{user.firstName}} {{user.lastName}}</h1>
<p style="margin-top: -11px;">{{user.userName}}</p>
<p>{{user.description}}</p>
<br><br>
{% if user.id == current_id %}
	<a href="{{ url_for('editProfile' ,user_id=user.id) }}" role="button" class="btn btn-success" style="margin-right: 0.625em;">Edit</a>
{% endif %}
</div>
</body>
</html>