<!DOCTYPE html>
<html>
<head>
	<title></title>
		<link rel="stylesheet" href="static/style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/lib/w3.css">


  <style>
    body, html {
    height: 100%;
    margin: 0;
    background-color: #d1d1d1;
}
  </style>
</head>
<body>
<nav class="navbar navbar-inverse fixed">
  <div class="container-fluid navColor" style="background-color: black;padding-left: 10px;">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>                      
</button>
      <a class="navbar-brand" style="background-color: black;padding-top: 03px;" href="{{ url_for('home') }}"><img src="https://pbs.twimg.com/profile_images/768085749845622784/CA9YOdSy.jpg" height="42" width="42"> </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li><a href="{{ url_for('games') }}">Games</a></li>
      <li><a href="{{ url_for('forums') }}">Forums</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">More<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for('aboutUs') }}">About Us</a></li>
          <li><a href="{{ url_for('contactUs') }}">Contact Us</a></li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
    {% if user != null %}
      <li><a href="{{ url_for('profile' , user_id = user.id) }}"><span class="glyphicon glyphicon-user"></span> {{user.firstName}}</a></li>
      <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>

    {% else %}
      <li><a href="{{ url_for('signup') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    {% endif %}
    </ul>
  </div>
  </div>
</nav>
<div align="center">
<h1>{{ game.name }}</h1>
<br>
<p style="font-size:15px">{{ game.smallDes }}</p>
<br>
{% if game.name== 'Welter Brothers' %}
<iframe src="https://widgets.gamejolt.com/package/v1?key=p2aCxRej" frameborder="0" width="500" height="245"></iframe>
<br>
{% endif %}
<p style="font-size:20px">{{ game.Description }}</p>
</div>
<div align="center">
{% if user != null %}
<form action="{{ url_for('gameComment' ,game_id1 = game.id ,userName = user.userName) }}" method="post">
Comment: <input type="text" name="comment" size="100"><input type="submit" value="Post">
</form>
{% else %}
Comment: <input type="text" name="comment" size="100" placeholder="Login to write a comment" disabled><input type="submit" value="Post" disabled>
{% endif %}
</div>
<br>
{% if comments == [] %}
<p align="center">No comments have been posted yet.</p>
{% else %}
  {% for comment in comments %}
  <div class="card container" style="border-top-width: 25px;padding-top: 0px;padding-right: 5px;padding-left: 5px;padding-bottom: 10px;background-color:white;">
    <p><a href="{{ url_for('profileUsername' , user_Name=comment.userNameG) }}">{{ comment.userNameG }}</a>: {{ comment.comment }}</p>
    {% if user != null %} 
      {% if comment.userNameG == user.userName %}
        <div align="right">
        <form action="{{ url_for('delGameComment' ,comment_id=comment.id,game_id=game.id) }}" method="post">
        <input type="submit" value="delete"></form></div>
      {% endif %}
    {% endif %}
    </div>
  {% endfor %}
{% endif %}
</body>
</html>